
        .header{
            background-color: aqua;
            height: 100px;
        }

        .main{
            background-color: salmon;
            height: 450px;
            display: flex;
        }

        .footer{
            background-color: aqua;
            height: 100px;
        }

        .container{
            display: flex;
            flex-direction: column;

        }

        .aside{
            background-color: crimson;
            width: 20%;
        }

        .article{
            background-color: lightcoral;
            width: 80%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .foto img{
            width: 200px;
            margin: 1em;
        }

        .foto{
            display: flex;
            justify-content: center;
        }
    